.shade {
  background-color: var(--bg);
  color: var(--c);

  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.75rem 2rem; */
  height: 100%;
  justify-self: stretch;
  align-self: stretch;
  position: relative;

  cursor: default;
}

.code {
  margin:0 1rem;
}

.percentage {
  /* position: absolute; */
  left: 1.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.5;
  width: 0px;
  display: flex;
  justify-content: end;
  user-select: none;
}