<span class="name">({{ name() | titlecase}})</span>
<div class="controls">
  <div class="swatch">
    <app-button leftIcon="color-picker" variant="subtle" (click)="togglePicker(!showPicker)" />
    @if (showPicker) {
    <color-chrome [color]="code().hex()" [disableAlpha]="true" width="100%" (onChange)="handleColorChange($event)" />
    }
    <input type="text" [ngModel]="code().hex()" (ngModelChange)="handleColorChange($event)">
  </div>
  <app-button label="rmv" leftIcon="trash" color="indianred" (click)="onRemove.emit()" />
</div>